body {
 
  font: normal 300 18px "Roboto", sans-serif;
}
 
#menu-nav {
   /*max-width: 1000px; */
  max-width: 100%;
/*  max-height: 100%;*/
  margin: 0  ;
  background-color: rgb(14, 12, 12);
  border-radius:0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding-top: 15px;
}
 
#navigation-bar ul {
  border-radius: 0px;
  overflow: hidden;
}
#navigation-bar li {
  float: right;
  width: 10%;
}
#navigation-bar li:hover a::before {
  right: 0;
  left: 0;
}
#navigation-bar a {
  color: #848484;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  display: block;
  position: relative;
  transition: all 0.3s ease;
}
#navigation-bar a:hover {
  color: #e74c3c;
}
#navigation-bar a::before {
  content: "";
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 0;
  height: 2px;
  background-color: #e74c3c;
}
#navigation-bar a:hover::before {
  right: 0;
  left: 0;
}
 

.listNone{
  list-style: none;
}

.home {
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)),url(/img/tools.jpg);
  
  background-size: cover;
      background-position: center;
      height: 800px;
      width: 100% ;
}

.contain{
  background-color: white;
}

.header {

}

.home-text{
  color:white;
  padding-top : 250px;

}



section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#footer {
  background: rgb(14, 12, 12) !important;
}
#footer h5{
padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color:#ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
font-size:25px;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.social li:hover a i {
font-size:30px;
margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
color:#ffffff;
}
#footer ul.social li a:hover{
color:#eeeeee;
}
#footer ul.quick-links li{
padding: 3px 0;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.quick-links li:hover{
padding: 3px 0;
margin-left:5px;
font-weight:700;
}
#footer ul.quick-links li a i{
margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width:767px){
#footer h5 {
  padding-left: 0;
  border-left: transparent;
  padding-bottom: 0px;
  margin-bottom: 10px;
}
}
.dark{
  background: #d2d3ce;
  background: -webkit-linear-gradient(to left, #3F481D, #54811c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left , #3F481D, #548815);

}

.navy{
  background: white;
  background: -webkit-linear-gradient(to right,#000000 ,#54811c , #54811c, #121312);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #121312,#515151,  #515151, #121312); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button {
  display: inline-block;
  background: #e74c3c;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}
.button:hover {
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -10px) scale(1.2);
          transform: translate(0px, -10px) scale(1.2);
}

.logo{
  color: #e74c3c;
}