body {
 
  font: normal 300 18px "Roboto", sans-serif;
}
 
#menu-nav {
   /*max-width: 1000px; */
  max-width: 100%;
/*  max-height: 100%;*/
  margin: 0  ;
  background-color: hsl(192, 15%, 94%);
  border-radius:0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
 
#navigation-bar ul {
  border-radius: 0px;
  overflow: hidden;
}
#navigation-bar li {
  float: right;
  width: 10%;
}
#navigation-bar li:hover a::before {
  right: 0;
  left: 0;
}
#navigation-bar a {
  color: #848484;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  display: block;
  position: relative;
  transition: all 0.3s ease;
}
#navigation-bar a:hover {
  color: #e74c3c;
}
#navigation-bar a::before {
  content: "";
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 0;
  height: 2px;
  background-color: #e74c3c;
}
#navigation-bar a:hover::before {
  right: 0;
  left: 0;
}
 

.listNone{
  list-style: none;
}

.home {
  
  width: 100%;
  height: 1000px;
  padding: 0;
}

.contain{
  background-color: white;
}

.header {

}

